@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>菜单</h2>
        <p>
            @Html.ActionLink("创建", "CreateButton_Menu")
        </p>
        <p>
            @Html.ActionLink("查询", "SearchButton_Menu")
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>@ViewBag.Msg</p>
    </div>
</div>